<!--This html page displays event details for events that are added to a Users personal Calendar and redirects to the Personal Calendar-->
{% extends 'cal/base.html' %}

{% block content %}
<style>
  .btn {
    background-color: #73000a;
  }
.btn:hover {
    background-color:#000000;
    transition: 0.3s;
}
</style>
<h1>{{ event.title }}</h1>

<p class="eventinfo">{{ event.location }}</p>
<p class="eventinfo">Begins at {{ event.start_time}}</p>
<p class="eventinfo">Ends at {{ event.end_time}}</p>
<p class="eventinfo">{{ event.filterTag}}</p>
<p class="eventinfo">{{ valid_url }}</p>
<p class="eventinfo">This event is currently added to your personal calendar!</p>

<div class="clearfix">
    <a class="btn btn-info right" href="/personalcal/listview"> Return to List View </a>
    <a class="btn btn-info right" href="/personalcal"> Return to Calendar View </a>
    <form method="post">
        {% csrf_token %}
        <table class="form form-table">
          <tr><td colspan="0"><button type="submit" name="Remove" class="btn btn-info left">Remove from Personal Calendar</button></td></tr>
        </table>
        
    </form>
</div>

{% endblock %}