<!-- https://www.youtube.com/watch?v=3aVqWaLjqS4&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&index=7 -->
<!-- used this tutorial to set up my user registration system-->

{% extends "cockycal/base.html" %}



<br>
<br>
<br>
{% block content %}
<!-- Displays logout text to user -->
<br>
<br>
<br>
<!--logout page for cocky cal -->
    <h2>You have been logged out  </h2>
        <div class ="border-top pt-3">
            <small class = "text-muted"> 
                 <a href="../login">Login Again</a>
            </small>
        </div>

{% endblock content %}